
/********** MAIN *********/
.container{
    width: 100%;
    height: calc(100vh - 110px);
    background-color: green;
}

   /* BAR-LEFT LOGO LIS  */
.logo-list{
    min-width: 18.7rem;
    height: 100%;
    background-color: #000000;
}

.img-logo{
    width: 10.3rem;
}

    

/******* CATALOG  *******/
.container-catalog{
    max-width: calc(100vw - 18.7rem);
    height: 100%;
    overflow-y: auto;
    background-color: #141922;
    display: flex;
    flex-direction: column;
}

.upgrade{
    width: calc(100vw - 18.7rem);
    height: 110px;
    position: fixed;
    background-color: #00000077;
    display: flex;
    align-items: center;
    justify-content: end;
}    

.botton-upgrade{
    border: 1px solid white ;
    padding: 1rem 3rem;
    background-color: transparent;
    color: white;
    border-radius: 30px;
}

.nav-bar{
    width: calc(100vw - 18.7rem);
    min-height: 5rem;
    margin-top: 110px;
    display: flex;
    justify-content: center;
 
}
.cont-nav-bar{
    min-width: 50.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

.list-nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    

}

.line{
    border-top: 1px solid #adff2f;
    width: 40px;
    position: absolute;
    left: 2rem;
    bottom: 1.8rem;

 
   
}
    











/********** FOOTER  *********/

.replay-bar{
    width: 100%;
    height: 110px;
    background-color: #282828;
}
