
/********************************/
/******* XS MOBILE FIRST  *******/


/* GENERICI */


/* HEADER  */


/* ********* MAIN CONTENT  ******/
.container{
    width: 100%;
    height: calc(100vh - 90px);
}
/* BAR-LEFT LOGO LIS */
.logo-list{
    width: 50px;
    height: 100%;
    padding-left: 2rem;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

   /* BAR-LEFT LOGO LIS  */
.img-logo{
    width: 8rem;
}
.home{
    width: 100%;
    height: auto;
}


/************************/
/******* CATALOG  *******/
.container-catalog{
    width:100%;
    height: 100%;
    overflow-y: auto;
    background-color: #141922;
    display: flex;
    flex-direction: column;
}

/* UPGRADE  */
.upgrade{
    width: calc(100% - 50px);
    height: 90px;
    position: fixed;
    background-color: #00000077;
    display: flex;
    align-items: center;
    justify-content: end;
}   
 

.botton-upgrade{
    border: 1px solid white ;
    padding: 1rem 2.5rem;
    background-color: transparent;
    color: white;
    border-radius: 30px;
    margin-right: 1.5rem;
}

/* NAV BAR  */
.main-content{
    width: 100%;
    height: 100%;
    margin-top: 90px;
    overflow-y: auto;
}
.nav-bar{
    text-align: center;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-bar > a {
    align-items: center;
    padding: 0.5rem;
}

/* .line{
    border-top: 1px solid #adff2f;
    width: 40px;
    position: absolute;
    left: 2rem;
    bottom: 1.8rem;
}      */

 /* CARD RECENTLY */
 .container-card-1{
     
     padding: 2rem 1rem 1rem 1rem;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap: 1rem;
   
}


 .card{
    max-height: 15rem;
    display: flex;
    flex-direction: column;
}

/* CARD CREATO PER JOHN  */
.container-card-2{
   
    gap: 1rem;
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
   
}

/************** FOOTER  ************/
.replay-bar{
    width: 100%;
    height: 90px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* REPLAY LEFET  */

.replay-left{
    width: calc(100% - 70%);
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.img-left{
    width: 3.5rem;
}

/* REPLAY CENTER  */

.replay-center{
    width: 40%;
    height: 3.5rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress{
    display: flex;
    width: 100px;
    height: 3px;
    background-color:#6b6b6b;
    cursor: pointer;
}
.progress-fillet{
    width: 30%;
    background: lightgray;
}

/* REPLAY RIGHT  */
.replay-right{
    width: 30%;
    height: 3.5rem;
    padding: 1rem;
}

.progress-2{
    display: flex;
    width: 100px;
    height: 3px;
    background-color:#6b6b6b;
    cursor: pointer;
}
.progress-fillet-2{
    width: 30%;
    background: lightgray;
}










/*************************************/
/******* SM RESPONSIVE: SMARTPHONE  *******/

@media screen and (min-width: 480px) {

    /* GENERICI */
    /* HEADER  */ 
    /* MAIN CONTENT  */
    .logo-list{
        width: 230px;
    }
    .upgrade{
        width: calc(100% - 230px);
    }   
    /* .nav-bar > a {
        width: calc(100 /3);
    }
     */
     
    

    
    
    
    /* FOOTER  */
}




/**************************************/
/******* MD RESPONSIVE: TABLET   *******/
@media screen and (min-width: 768px) {
 
    
    
    /* GENERICI */
    
    
    /* HEADER  */
    
    
    /* MAIN CONTENT  */
 
    
    
    /* FOOTER  */
    .replay-left{
        max-width:230px ;
    }

    .replay-center{
        max-width: 35rem;
    }
    .replay-right{
        max-width: 17rem;
    }
     
    
      
    
}


/******************************************/
/******* LG - RESPONSIVE: DEKSTOP   *******/
@media screen and (min-width: 992px) {

    
    
    /* GENERICI */
    
    
    /* HEADER  */
    
    
    /* MAIN CONTENT  */
   

    
    
    /* FOOTER  */
  

    .progress{
        width: 200px;
    }
   
     
    
}


/************************************************/
/******* XG - RESPONSIVE: LARGE DEKSTOP   *******/
@media screen and (min-width: 1201px) {

    
    
    /* GENERICI */
    
    
    /* HEADER  */
    
    
    
    /* MAIN CONTENT  */
    .nav-bar{
        padding: 0.5rem 9rem;
    }
    
    /* FOOTER  */
    .progress{
        width: 400px;
    }
   
    

}


    
    
    
    
    
    
    

    
   


   
     
















   
   





